body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b388ff;
}


header, main, footer{
    background-color: black;
}

h1 , header h2 {
    color: #b388ff;
    size: 30px;
    text-align: center;
}
li{list-style: none;}

h1,h2,h3,h4,h5, p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

nav ul li a{
    color: white;
    text-decoration: none;
    background-color: rgb(150, 18, 150);
    text-align: center;
}
main section h2 {
    color: #b388ff;
}
.activo{
    background-color: rgb(176, 209, 198);
}

body main section div p{
    font-size: 20px;
}

.oferta img, .novedad img, .ventas img{
    width: 300px;
}

.categoria img{width: 250px;}

form{color: white;}

footer{
    color: white;
}