footer {
    background-color: $color-negro;
    border-top: 2px solid $color-principal;
    padding: 40px 20px;
    margin-top: 50px;

    .footer-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap; 
        gap: 20px;
    }

    p {
        text-align: center;
        margin-top: 20px;
        color: #888;
    }
}