header {
    background-color: $color-negro;
    border-bottom: 2px solid $color-principal;
    padding: 15px 0;

    nav ul {
        display: flex;
        justify-content: center;
        gap: 20px;
        list-style: none;

        a {
            color: white;
            text-decoration: none;
            transition: 0.3s;
            &:hover {
                color: $color-principal;
            }
        }
    }
}